@keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .animate-fadeIn {
    animation: fadeInLeft 5s ease-out;
  }


.img-icon{
  margin: 10px;
}